.dotgrid-root {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
}

.dotgrid-canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000000;
}

.dotgrid-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    background: #000000;
}